<%= form_with model: @point, local: true do |form| %>

  <% if @point.errors.any? %>
    <div id="error_explanation">
      <h2>
        Os dados não foram inseridos corretamente!
      </h2>
      <ul>
        <% @point.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :Latitude %><br>
    <%= form.text_field :lat %>
  </p>

  <p>
    <%= form.label :Longitude %><br>
    <%= form.text_field :lon %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>
