<div class="container">
  <h2>Lista de pontos</h2>
  <%= link_to 'Inserir ponto', new_point_path, type: "button", class: "btn btn-default" %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Latitude</th>
        <th>Longitude</th>
      </tr>
    </thead>
    <tbody>
      <% @points.each do |point| %>
        <tr>
          <td><%= point.lat %></td>
          <td><%= point.lon %></td>
          <td><%= link_to 'Detalhes', point_path(point) %></td>
          <td><%= link_to 'Editar', edit_point_path(point) %></td>
          <td><%= link_to 'Deletar', point_path(point),
                  method: :delete,
                  data: { confirm: 'Você tem certeza?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
